@use '../../../../styles/theme' as t;

.admin-container {
    background-color: t.$sec;
    padding: 5px 30px;
    height: 90dvh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 20px;
    top: t.$nav-bar-height;
    overflow-y: auto;
    border-radius: 18px;

    .admin-title{
        font-size: 2rem;
        font-weight: 600;
    }
}